<head>
    <link rel="stylesheet" href="../css/cliente_style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
</head>
	<div id="settings" ontouchstart>
  <input checked class="nav" name="nav" type="radio" />
  <span class="nav">Conta</span>
  <input class="nav" name="nav" type="radio" />
  <span class="nav">Pedidos</span>
  <input class="nav" name="nav" type="radio" />
  <span class="nav">Procurar meu pedido</span>
  <main class="content">
    <section id="profile">
      <a>Seja bem-vindo Sr.Ornelas </a>
      <form>
        <ul>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" value="Gustavo Ornelas" />
                <label>Nome</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>CPF</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>CNPJ</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>CEP</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Email</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="tel" />
                <label>Telefone</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li class="large padding">
            <fieldset class="material-button center">
              <div>
                <input class="save" type="submit" value="Alterar" />
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section id="account">
      <label>Criar pedido</label>
      <form>
        <ul>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Tipo de Evento</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="number" />
                <label>Orçamento</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input id="data" type="date"/>
                <label>Data do evento</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="number" />
                <label>Número estipulado dos convidados</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Endereço do Evento</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Observações</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
              <div>
                <a href="./comidas.html" style="color: #ffe8be;">clique aqui para ir á página do cardápio</a>
                <hr />
              </div>
          </li>
          <li class="large padding">
            <fieldset class="material-button center">
              <div>
                <input class="save" type="submit" value="Buscar" />
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section id="profile">
      <h1>Veja seus pedidos</h1>
      <form>
        <ul>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Digite a indentificação do pedido</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material-button center">
              <div>
                <input class="save" type="submit" value="Procurar" />
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
  </main>
	</div>
