<head>
    <link rel="stylesheet" href="../css/cliente_style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo admin</title>
</head>
	<div id="settings" ontouchstart>
  <input checked class="nav" name="nav" type="radio" />
  <span class="nav">Conta</span>
  <input class="nav" name="nav" type="radio" />
  <span class="nav">Funcionários</span>
  <input class="nav" name="nav" type="radio" />
  <span class="nav">Registros_financeiros</span>
  <input class="nav" name="nav" type="radio" />
  <span class="nav">Pedidos</span>
  <main class="content">
    <section id="profile">
      <a>Seja bem-vindo Sr.Gomes admin </a>
      <form>
        <ul>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" value="Gustavo Ornelas" />
                <label>Nome</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Dados</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Dados</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Dados</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li class="large">
            <fieldset class="material">
              <div>
                <input required type="text" />
                <label>Dados</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li class="large padding">
            <fieldset class="material-button center">
              <div>
                <input class="save" type="submit" value="Alterar" />
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section id="account">
      <form>
        <ul>
          <li>
            <fieldset class="material">
              <div>
                <input required type="password" />
                <label>Número do Pedido</label>
                <hr />
              </div>
            </fieldset>
          </li>
          <li class="large padding">
            <fieldset class="material-button center">
              <div>
                <input class="save" type="submit" value="Buscar" />
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section class="upcoming" id="privacy">
      <h1>Coming&nbsp;soon!</h1>
    </section>
    <section class="upcoming" id="privacy">
      <h1>Coming&nbsp;soon!</h1>
    </section>
  </main>
	</div>
