<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login_style.css">
    <title>login</title>
</head>
<body>
<div class="showcase">
    <div class ="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
            </div>
                <div class="button-form">
                    <a id="submit" href="#">Entrar</a> 
                </div>
                <div id="register">
                    Não tem uma conta?
                    <a href="../views/Cadastro.html">Registre</a>
                </div>
        </form>
    </div>
</div>

</body>
</html>
